node_red.json
[
   {
      "id":"ce0ff1e6.85fcc",
      "type":"tab",
      "label":"STM32 IoT1_ AWS Dashboard",
      "disabled":false,
      "info":""
   },
   {
      "id":"4f356099.05137",
      "type":"inject",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "topic":"",
      "payload":"ON",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":true,
      "onceDelay":0.1,
      "x":1170,
      "y":440,
      "wires":[
         [
            "e073422a.7046f"
         ]
      ]
   },
   {
      "id":"e073422a.7046f",
      "type":"mqtt out",
      "z":"ce0ff1e6.85fcc",
      "name":"lock_status_out",
      "topic":"test/lock/status",
      "qos":"0",
      "retain":"false",
      "broker":"b9714042.068ee",
      "x":1478,
      "y":347,
      "wires":[

      ]
   },
   {
      "id":"87512e50.a765c",
      "type":"inject",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "topic":"",
      "payload":"OFF",
      "payloadType":"str",
      "repeat":"",
      "crontab":"",
      "once":true,
      "onceDelay":0.1,
      "x":1170,
      "y":500,
      "wires":[
         [
            "e073422a.7046f"
         ]
      ]
   },
   {
      "id":"7834ec2.3a9ec14",
      "type":"mqtt in",
      "z":"ce0ff1e6.85fcc",
      "name":"sensor_data",
      "topic":"test/sensors/data",
      "qos":"0",
      "broker":"b9714042.068ee",
      "x":970,
      "y":680,
      "wires":[
         [
            "1aeabd35.5650d3"
         ]
      ]
   },
   {
      "id":"1aeabd35.5650d3",
      "type":"json",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "property":"payload",
      "action":"",
      "pretty":false,
      "x":1130,
      "y":680,
      "wires":[
         [
            "e062b7fa.3632b8",
            "5b17ae2f.ebb26",
            "1bf3efd9.48cd6",
            "17641c06.357094",
            "c7ca1f2a.3d9a7"
         ]
      ]
   },
   {
      "id":"e062b7fa.3632b8",
      "type":"function",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "func":"var value = msg.payload.TEMP;\nmsg.payload = parseFloat(value);\nreturn (msg);",
      "outputs":1,
      "noerr":0,
      "x":1310,
      "y":580,
      "wires":[
         [
            "acd65aad.0f83d8",
            "ac0ba431.c7b068",
            "1a7e5547.37fd7b"
         ]
      ]
   },
   {
      "id":"acd65aad.0f83d8",
      "type":"debug",
      "z":"ce0ff1e6.85fcc",
      "name":"Temperature",
      "active":true,
      "tosidebar":false,
      "console":false,
      "tostatus":true,
      "complete":"payload",
      "x":1490,
      "y":620,
      "wires":[

      ]
   },
   {
      "id":"5b17ae2f.ebb26",
      "type":"function",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "func":"var value = msg.payload.HUM;\nmsg.payload = parseFloat(value);\nreturn (msg);",
      "outputs":1,
      "noerr":0,
      "x":1310,
      "y":680,
      "wires":[
         [
            "d3c33926.7aee08",
            "5c2e79e.6abbd88",
            "7c00656f.3994ec"
         ]
      ]
   },
   {
      "id":"1bf3efd9.48cd6",
      "type":"function",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "func":"var value = msg.payload.PRES;\nmsg.payload = parseFloat(value);\nreturn (msg);",
      "outputs":1,
      "noerr":0,
      "x":1310,
      "y":780,
      "wires":[
         [
            "6771195f.1be5f8",
            "fd2138a9.d33e88",
            "c478ff4a.91247"
         ]
      ]
   },
   {
      "id":"d3c33926.7aee08",
      "type":"debug",
      "z":"ce0ff1e6.85fcc",
      "name":"Humidity",
      "active":true,
      "tosidebar":false,
      "console":false,
      "tostatus":true,
      "complete":"payload",
      "x":1480,
      "y":720,
      "wires":[

      ]
   },
   {
      "id":"6771195f.1be5f8",
      "type":"debug",
      "z":"ce0ff1e6.85fcc",
      "name":"Pressure",
      "active":true,
      "tosidebar":false,
      "console":false,
      "tostatus":true,
      "complete":"payload",
      "x":1480,
      "y":820,
      "wires":[

      ]
   },
   {
      "id":"2c001a37.08e666",
      "type":"mqtt in",
      "z":"ce0ff1e6.85fcc",
      "name":"lock_status",
      "topic":"test/lock/status",
      "qos":"0",
      "broker":"b9714042.068ee",
      "x":980,
      "y":320,
      "wires":[
         [
            "ca3b4a65.e796e8"
         ]
      ]
   },
   {
      "id":"d1249f2a.dcf3a",
      "type":"mqtt in",
      "z":"ce0ff1e6.85fcc",
      "name":"card_status",
      "topic":"test/lock/card",
      "qos":"0",
      "broker":"b9714042.068ee",
      "x":990,
      "y":920,
      "wires":[
         [
            "207de85a.7807e8"
         ]
      ]
   },
   {
      "id":"d1ba83c8.208ac",
      "type":"e-mail",
      "z":"ce0ff1e6.85fcc",
      "server":"smtp.gmail.com",
      "port":"465",
      "secure":true,
      "name":"oksbwn@gmail.com",
      "dname":"Mail GTC",
      "x":1532,
      "y":985,
      "wires":[

      ]
   },
   {
      "id":"17641c06.357094",
      "type":"function",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "func":"var pressure = msg.payload.PRES;\nvar temperature = msg.payload.TEMP;\nvar humidity = msg.payload.HUM;\nmsg.topic=\"STM32 IoT Board Weather data.\"\nmsg.payload = \"The current temperature is \"+parseFloat(temperature)+\n               \" C and the humidity is \"+parseFloat(humidity)+\n               \"%RH. Environemnetal pressure is recorded as \"+parseFloat(pressure)+\n               \"mbar. The above data are retieved from device with ID 1\";\nreturn (msg);",
      "outputs":1,
      "noerr":0,
      "x":1309,
      "y":977,
      "wires":[
         [
            "d1ba83c8.208ac",
            "2e329dd2.aa9052"
         ]
      ]
   },
   {
      "id":"2e329dd2.aa9052",
      "type":"e-mail",
      "z":"ce0ff1e6.85fcc",
      "server":"smtp.gmail.com",
      "port":"465",
      "secure":true,
      "name":"oksbwn@gmail.com",
      "dname":"Mail GTC",
      "x":1536,
      "y":1034,
      "wires":[

      ]
   },
   {
      "id":"c7ca1f2a.3d9a7",
      "type":"function",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "func":"var pressure = msg.payload.PRES;\nvar temperature = msg.payload.TEMP;\nvar humidity = msg.payload.HUM;\nmsg.topic=\"STM32 IoT Board Weather data.\"\nmsg.payload = new Date().toISOString(). replace(/T/, ' ').replace(/\\..+/, '') +\",\"+\n                parseFloat(temperature)+\",\"+\n               parseFloat(humidity)+\",\"+\n               parseFloat(pressure)  ;\nreturn (msg);",
      "outputs":1,
      "noerr":0,
      "x":1308,
      "y":878,
      "wires":[
         [
            "e5b69260.753e2"
         ]
      ]
   },
   {
      "id":"cb8558a6.8f6848",
      "type":"e-mail",
      "z":"ce0ff1e6.85fcc",
      "server":"smtp.gmail.com",
      "port":"465",
      "secure":true,
      "name":"oksbwn@gmail.com",
      "dname":"Mail GTC",
      "x":1900,
      "y":1140,
      "wires":[

      ]
   },
   {
      "id":"5f627d1a.9ccbe4",
      "type":"ui_button",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "group":"37e30d5a.855f62",
      "order":8,
      "width":"6",
      "height":"1",
      "passthru":false,
      "label":"Send CSV Data",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"true",
      "payloadType":"bool",
      "topic":"",
      "x":1740,
      "y":740,
      "wires":[
         [
            "9efb872e.f34cd8"
         ]
      ]
   },
   {
      "id":"ca3b4a65.e796e8",
      "type":"ui_switch",
      "z":"ce0ff1e6.85fcc",
      "name":"Load",
      "label":"Realy Control",
      "tooltip":"",
      "group":"37e30d5a.855f62",
      "order":3,
      "width":"5",
      "height":"2",
      "passthru":false,
      "decouple":"true",
      "topic":"",
      "style":"",
      "onvalue":"ON",
      "onvalueType":"str",
      "onicon":"",
      "oncolor":"",
      "offvalue":"OFF",
      "offvalueType":"str",
      "officon":"",
      "offcolor":"",
      "x":1330,
      "y":460,
      "wires":[
         [
            "e073422a.7046f"
         ]
      ],
      "inputLabels":[
         "msg.payload"
      ]
   },
   {
      "id":"ac0ba431.c7b068",
      "type":"ui_gauge",
      "z":"ce0ff1e6.85fcc",
      "name":"Temperature",
      "group":"37e30d5a.855f62",
      "order":1,
      "width":"2",
      "height":"2",
      "gtype":"gage",
      "title":"Temperature",
      "label":"Deg. C",
      "format":"{{value}}",
      "min":0,
      "max":"100",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":2110,
      "y":280,
      "wires":[

      ],
      "inputLabels":[
         "msg.payload"
      ]
   },
   {
      "id":"5c2e79e.6abbd88",
      "type":"ui_gauge",
      "z":"ce0ff1e6.85fcc",
      "name":"Humidity",
      "group":"37e30d5a.855f62",
      "order":1,
      "width":"2",
      "height":"2",
      "gtype":"gage",
      "title":"Humidity",
      "label":"%RH",
      "format":"{{value}}",
      "min":0,
      "max":"100",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":2100,
      "y":320,
      "wires":[

      ],
      "inputLabels":[
         "msg.payload"
      ]
   },
   {
      "id":"fd2138a9.d33e88",
      "type":"ui_gauge",
      "z":"ce0ff1e6.85fcc",
      "name":"Pressure",
      "group":"37e30d5a.855f62",
      "order":2,
      "width":"2",
      "height":"2",
      "gtype":"gage",
      "title":"Pressure",
      "label":"mbar",
      "format":"{{value}}",
      "min":0,
      "max":"1500",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":2100,
      "y":360,
      "wires":[

      ],
      "inputLabels":[
         "msg.payload"
      ]
   },
   {
      "id":"6873ab1d.289d04",
      "type":"ui_toast",
      "z":"ce0ff1e6.85fcc",
      "position":"top right",
      "displayTime":"5",
      "highlight":"",
      "outputs":0,
      "ok":"OK",
      "cancel":"",
      "topic":"",
      "name":"",
      "x":1530,
      "y":940,
      "wires":[

      ],
      "inputLabels":[
         "msg.payload"
      ]
   },
   {
      "id":"1a7e5547.37fd7b",
      "type":"ui_chart",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "group":"37e30d5a.855f62",
      "order":4,
      "width":"5",
      "height":"3",
      "label":"Temperature",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":true,
      "ymin":"0",
      "ymax":"100",
      "removeOlder":"2",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#bf7f46",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "x":2110,
      "y":460,
      "wires":[
         [

         ],
         [

         ]
      ],
      "inputLabels":[
         "msg.payload"
      ]
   },
   {
      "id":"7c00656f.3994ec",
      "type":"ui_chart",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "group":"37e30d5a.855f62",
      "order":4,
      "width":"5",
      "height":"3",
      "label":"Humidity",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":true,
      "ymin":"0",
      "ymax":"100",
      "removeOlder":"2",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "x":2100,
      "y":540,
      "wires":[
         [

         ],
         [

         ]
      ],
      "inputLabels":[
         "msg.payload"
      ]
   },
   {
      "id":"c478ff4a.91247",
      "type":"ui_chart",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "group":"37e30d5a.855f62",
      "order":4,
      "width":"5",
      "height":"3",
      "label":"Pressure",
      "chartType":"line",
      "legend":"false",
      "xformat":"HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":true,
      "ymin":"0",
      "ymax":"1100",
      "removeOlder":"2",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "useOldStyle":false,
      "x":2100,
      "y":500,
      "wires":[
         [

         ],
         [

         ]
      ],
      "inputLabels":[
         "msg.payload"
      ]
   },
   {
      "id":"e5b69260.753e2",
      "type":"cloudant out",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "cloudant":"",
      "database":"sensors_data1",
      "service":"gtcnodered-cloudantNoSQLDB",
      "payonly":false,
      "operation":"insert",
      "x":1600,
      "y":880,
      "wires":[

      ]
   },
   {
      "id":"9efb872e.f34cd8",
      "type":"cloudant in",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "cloudant":"",
      "database":"sensors_data1",
      "service":"gtcnodered-cloudantNoSQLDB",
      "search":"_all_",
      "design":"",
      "index":"",
      "x":1740,
      "y":800,
      "wires":[
         [
            "f95434a3.30fe58"
         ]
      ]
   },
   {
      "id":"a0dab35d.0eef8",
      "type":"function",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "func":"msg.topic=\"Sensors stored data\";\nmsg.to=msg.email\nmsg.filename=\"sensor Data.csv\";\nmsg.from=\"STM32 Iot Demo E14\"\nmsg.payload=new Buffer(msg.payload.replace(/\"/g,\"\"));\nreturn (msg);",
      "outputs":1,
      "noerr":0,
      "x":1790,
      "y":1020,
      "wires":[
         [
            "cb8558a6.8f6848",
            "4b5952b4.97e2bc"
         ]
      ]
   },
   {
      "id":"f95434a3.30fe58",
      "type":"csv",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "sep":",",
      "hdrin":"",
      "hdrout":"",
      "multi":"one",
      "ret":"\\n",
      "temp":"payload",
      "skip":"0",
      "x":1810,
      "y":900,
      "wires":[
         [
            "a0dab35d.0eef8"
         ]
      ]
   },
   {
      "id":"5daebe5c.d2f51",
      "type":"ui_toast",
      "z":"ce0ff1e6.85fcc",
      "position":"dialog",
      "displayTime":"3",
      "highlight":"",
      "outputs":1,
      "ok":"OK",
      "cancel":"",
      "topic":"",
      "name":"Success",
      "x":2090,
      "y":1060,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"4b5952b4.97e2bc",
      "type":"function",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "func":"msg.payload=\"Data sent to connected email.\";\nmsg.topic=\"Sucess !!\";\nreturn (msg);",
      "outputs":1,
      "noerr":0,
      "x":1990,
      "y":1000,
      "wires":[
         [
            "5daebe5c.d2f51"
         ]
      ]
   },
   {
      "id":"207de85a.7807e8",
      "type":"function",
      "z":"ce0ff1e6.85fcc",
      "name":"",
      "func":"msg.topic=\"\";\nmsg.payload=\"Card event triggered.\";\nreturn (msg);",
      "outputs":1,
      "noerr":0,
      "x":1290,
      "y":940,
      "wires":[
         [
            "6873ab1d.289d04"
         ]
      ]
   },
   {
      "id":"b9714042.068ee",
      "type":"mqtt-broker",
      "z":"",
      "name":"Amazon AWS",
      "broker":"a32e6rcmmefpik-ats.iot.us-east-2.amazonaws.com",
      "port":"8883",
      "tls":"ba6e0516.264528",
      "clientid":"",
      "usetls":true,
      "compatmode":true,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   },
   {
      "id":"37e30d5a.855f62",
      "type":"ui_group",
      "z":"",
      "name":"",
      "tab":"14b1dfe5.c0c74",
      "disp":true,
      "width":"6",
      "collapse":false
   },
   {
      "id":"ba6e0516.264528",
      "type":"tls-config",
      "z":"",
      "name":"",
      "cert":"",
      "key":"",
      "ca":"",
      "certname":"556ca60ffd-certificate.pem.crt",
      "keyname":"556ca60ffd-private.pem.key",
      "caname":"AmazonRootCA1.pem",
      "servername":"a32e6rcmmefpik-ats.iot.us-east-2.amazonaws.com",
      "verifyservercert":true
   },
   {
      "id":"14b1dfe5.c0c74",
      "type":"ui_tab",
      "z":"",
      "name":"STM32 IoT Dashboard",
      "icon":"dashboard",
      "disabled":false,
      "hidden":false
   }
]
