node_red.json
[{
	"id": "27e8b13a.22fe1e",
	"type": "tab",
	"label": "STM32 IoT1_ AWS Dashboard",
	"disabled": false,
	"info": ""
}, {
	"id": "f88b9bfd.977768",
	"type": "inject",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"topic": "",
	"payload": "ON",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": true,
	"onceDelay": 0.1,
	"x": 1170,
	"y": 440,
	"wires": [
		["835b4dc9.fc3d"]
	]
}, {
	"id": "835b4dc9.fc3d",
	"type": "mqtt out",
	"z": "27e8b13a.22fe1e",
	"name": "lock_status_out",
	"topic": "test/lock/status",
	"qos": "0",
	"retain": "false",
	"broker": "206e0fd3.94ea1",
	"x": 1478,
	"y": 347,
	"wires": []
}, {
	"id": "43eb100.d8774f",
	"type": "inject",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"topic": "",
	"payload": "OFF",
	"payloadType": "str",
	"repeat": "",
	"crontab": "",
	"once": true,
	"onceDelay": 0.1,
	"x": 1170,
	"y": 500,
	"wires": [
		["835b4dc9.fc3d"]
	]
}, {
	"id": "f39a9eea.0aa63",
	"type": "mqtt in",
	"z": "27e8b13a.22fe1e",
	"name": "sensor_data",
	"topic": "test/sensors/data",
	"qos": "0",
	"broker": "206e0fd3.94ea1",
	"x": 970,
	"y": 680,
	"wires": [
		["4f178372.18958c"]
	]
}, {
	"id": "4f178372.18958c",
	"type": "json",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"property": "payload",
	"action": "",
	"pretty": false,
	"x": 1130,
	"y": 680,
	"wires": [
		["a05af63a.0f10e8", "a36de533.df9338", "2fc7471.5c7d1b8", "a23b72d1.a7cc", "bcf04730.e811a8"]
	]
}, {
	"id": "a05af63a.0f10e8",
	"type": "function",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"func": "var value = msg.payload.TEMP;\nmsg.payload = parseFloat(value);\nreturn (msg);",
	"outputs": 1,
	"noerr": 0,
	"x": 1310,
	"y": 580,
	"wires": [
		["9af68eeb.dc21c", "c44bb7ef.93bbe8", "21cd7725.3d9d18", "23e40ad.02065f6", "2a8922e3.c1ad9e"]
	]
}, {
	"id": "9af68eeb.dc21c",
	"type": "debug",
	"z": "27e8b13a.22fe1e",
	"name": "Temperature",
	"active": true,
	"tosidebar": false,
	"console": false,
	"tostatus": true,
	"complete": "payload",
	"x": 1490,
	"y": 620,
	"wires": []
}, {
	"id": "a36de533.df9338",
	"type": "function",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"func": "var value = msg.payload.HUM;\nmsg.payload = parseFloat(value);\nreturn (msg);",
	"outputs": 1,
	"noerr": 0,
	"x": 1310,
	"y": 680,
	"wires": [
		["9b493b44.5c35c8", "f29d44c8.acdaf8", "bba3f926.212058", "61b2a98d.b35d58", "b3f466c2.91de08"]
	]
}, {
	"id": "2fc7471.5c7d1b8",
	"type": "function",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"func": "var value = msg.payload.PRES;\nmsg.payload = parseFloat(value);\nreturn (msg);",
	"outputs": 1,
	"noerr": 0,
	"x": 1310,
	"y": 780,
	"wires": [
		["93255415.8d8a58", "bb62631b.adb47", "34c8ed5e.179392", "3a4dbdfe.b83b82", "9b5f7117.9c6d5"]
	]
}, {
	"id": "9b493b44.5c35c8",
	"type": "debug",
	"z": "27e8b13a.22fe1e",
	"name": "Humidity",
	"active": true,
	"tosidebar": false,
	"console": false,
	"tostatus": true,
	"complete": "payload",
	"x": 1480,
	"y": 720,
	"wires": []
}, {
	"id": "93255415.8d8a58",
	"type": "debug",
	"z": "27e8b13a.22fe1e",
	"name": "Pressure",
	"active": true,
	"tosidebar": false,
	"console": false,
	"tostatus": true,
	"complete": "payload",
	"x": 1480,
	"y": 820,
	"wires": []
}, {
	"id": "4056b891.3550e8",
	"type": "mqtt in",
	"z": "27e8b13a.22fe1e",
	"name": "lock_status",
	"topic": "test/lock/status",
	"qos": "0",
	"broker": "206e0fd3.94ea1",
	"x": 980,
	"y": 320,
	"wires": [
		["5299045c.e24e8c", "324906a0.38b9da"]
	]
}, {
	"id": "5b311d11.29ff54",
	"type": "mqtt in",
	"z": "27e8b13a.22fe1e",
	"name": "card_status",
	"topic": "test/lock/card",
	"qos": "0",
	"broker": "206e0fd3.94ea1",
	"x": 990,
	"y": 920,
	"wires": [
		["d81bd76.0faa228"]
	]
}, {
	"id": "91af0915.ff9358",
	"type": "e-mail",
	"z": "27e8b13a.22fe1e",
	"server": "smtp.gmail.com",
	"port": "465",
	"secure": true,
	"name": "oksbwn@gmail.com",
	"dname": "Mail GTC",
	"x": 1532,
	"y": 985,
	"wires": []
}, {
	"id": "a23b72d1.a7cc",
	"type": "function",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"func": "var pressure = msg.payload.PRES;\nvar temperature = msg.payload.TEMP;\nvar humidity = msg.payload.HUM;\nmsg.topic=\"STM32 IoT Board Weather data.\"\nmsg.payload = \"The current temperature is \"+parseFloat(temperature)+\n               \" C and the humidity is \"+parseFloat(humidity)+\n               \"%RH. Environemnetal pressure is recorded as \"+parseFloat(pressure)+\n               \"mbar. The above data are retieved from device with ID 1\";\nreturn (msg);",
	"outputs": 1,
	"noerr": 0,
	"x": 1309,
	"y": 977,
	"wires": [
		["91af0915.ff9358", "8699a76a.94f0e8"]
	]
}, {
	"id": "8699a76a.94f0e8",
	"type": "e-mail",
	"z": "27e8b13a.22fe1e",
	"server": "smtp.gmail.com",
	"port": "465",
	"secure": true,
	"name": "oksbwn@gmail.com",
	"dname": "Mail GTC",
	"x": 1536,
	"y": 1034,
	"wires": []
}, {
	"id": "bcf04730.e811a8",
	"type": "function",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"func": "var pressure = msg.payload.PRES;\nvar temperature = msg.payload.TEMP;\nvar humidity = msg.payload.HUM;\nmsg.topic=\"STM32 IoT Board Weather data.\"\nmsg.payload = new Date().toISOString(). replace(/T/, ' ').replace(/\\..+/, '') +\",\"+\n                parseFloat(temperature)+\",\"+\n               parseFloat(humidity)+\",\"+\n               parseFloat(pressure)  ;\nreturn (msg);",
	"outputs": 1,
	"noerr": 0,
	"x": 1308,
	"y": 878,
	"wires": [
		["8f907202.66b31"]
	]
}, {
	"id": "1dfde050.0a3c3",
	"type": "e-mail",
	"z": "27e8b13a.22fe1e",
	"server": "smtp.gmail.com",
	"port": "465",
	"secure": true,
	"name": "oksbwn@gmail.com",
	"dname": "Mail GTC",
	"x": 1900,
	"y": 1140,
	"wires": []
}, {
	"id": "617ea981.853e48",
	"type": "ui_button",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"group": "ec0e6445.8ce6c8",
	"order": 8,
	"width": "6",
	"height": "1",
	"passthru": false,
	"label": "Send CSV Data",
	"tooltip": "",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "true",
	"payloadType": "bool",
	"topic": "",
	"x": 1840,
	"y": 800,
	"wires": [
		["5768b7d9.098158"]
	]
}, {
	"id": "5299045c.e24e8c",
	"type": "ui_switch",
	"z": "27e8b13a.22fe1e",
	"name": "Load",
	"label": "Room Light",
	"tooltip": "",
	"group": "ec0e6445.8ce6c8",
	"order": 3,
	"width": "5",
	"height": "2",
	"passthru": false,
	"decouple": "true",
	"topic": "",
	"style": "",
	"onvalue": "ON",
	"onvalueType": "str",
	"onicon": "",
	"oncolor": "",
	"offvalue": "OFF",
	"offvalueType": "str",
	"officon": "",
	"offcolor": "",
	"x": 1330,
	"y": 460,
	"wires": [
		["835b4dc9.fc3d"]
	],
	"inputLabels": ["msg.payload"]
}, {
	"id": "c44bb7ef.93bbe8",
	"type": "ui_gauge",
	"z": "27e8b13a.22fe1e",
	"name": "Temperature",
	"group": "ec0e6445.8ce6c8",
	"order": 1,
	"width": "2",
	"height": "2",
	"gtype": "gage",
	"title": "Temperature",
	"label": "Deg. C",
	"format": "{{value}}",
	"min": 0,
	"max": "100",
	"colors": ["#00b500", "#e6e600", "#ca3838"],
	"seg1": "",
	"seg2": "",
	"x": 2110,
	"y": 280,
	"wires": [],
	"inputLabels": ["msg.payload"]
}, {
	"id": "f29d44c8.acdaf8",
	"type": "ui_gauge",
	"z": "27e8b13a.22fe1e",
	"name": "Humidity",
	"group": "ec0e6445.8ce6c8",
	"order": 1,
	"width": "2",
	"height": "2",
	"gtype": "gage",
	"title": "Humidity",
	"label": "%RH",
	"format": "{{value}}",
	"min": 0,
	"max": "100",
	"colors": ["#00b500", "#e6e600", "#ca3838"],
	"seg1": "",
	"seg2": "",
	"x": 2100,
	"y": 320,
	"wires": [],
	"inputLabels": ["msg.payload"]
}, {
	"id": "bb62631b.adb47",
	"type": "ui_gauge",
	"z": "27e8b13a.22fe1e",
	"name": "Pressure",
	"group": "ec0e6445.8ce6c8",
	"order": 2,
	"width": "2",
	"height": "2",
	"gtype": "gage",
	"title": "Pressure",
	"label": "mbar",
	"format": "{{value}}",
	"min": 0,
	"max": "1500",
	"colors": ["#00b500", "#e6e600", "#ca3838"],
	"seg1": "",
	"seg2": "",
	"x": 2100,
	"y": 360,
	"wires": [],
	"inputLabels": ["msg.payload"]
}, {
	"id": "880f883.f776078",
	"type": "ui_toast",
	"z": "27e8b13a.22fe1e",
	"position": "top right",
	"displayTime": "5",
	"highlight": "",
	"outputs": 0,
	"ok": "OK",
	"cancel": "",
	"topic": "",
	"name": "",
	"x": 1530,
	"y": 940,
	"wires": [],
	"inputLabels": ["msg.payload"]
}, {
	"id": "21cd7725.3d9d18",
	"type": "ui_chart",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"group": "ec0e6445.8ce6c8",
	"order": 4,
	"width": "5",
	"height": "3",
	"label": "Temperature",
	"chartType": "line",
	"legend": "false",
	"xformat": "HH:mm",
	"interpolate": "linear",
	"nodata": "",
	"dot": true,
	"ymin": "0",
	"ymax": "100",
	"removeOlder": "2",
	"removeOlderPoints": "",
	"removeOlderUnit": "3600",
	"cutout": 0,
	"useOneColor": false,
	"colors": ["#1f77b4", "#aec7e8", "#bf7f46", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
	"useOldStyle": false,
	"x": 2110,
	"y": 460,
	"wires": [
		[],
		[]
	],
	"inputLabels": ["msg.payload"]
}, {
	"id": "bba3f926.212058",
	"type": "ui_chart",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"group": "ec0e6445.8ce6c8",
	"order": 4,
	"width": "5",
	"height": "3",
	"label": "Humidity",
	"chartType": "line",
	"legend": "false",
	"xformat": "HH:mm",
	"interpolate": "linear",
	"nodata": "",
	"dot": true,
	"ymin": "0",
	"ymax": "100",
	"removeOlder": "2",
	"removeOlderPoints": "",
	"removeOlderUnit": "3600",
	"cutout": 0,
	"useOneColor": false,
	"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
	"useOldStyle": false,
	"x": 2100,
	"y": 540,
	"wires": [
		[],
		[]
	],
	"inputLabels": ["msg.payload"]
}, {
	"id": "34c8ed5e.179392",
	"type": "ui_chart",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"group": "ec0e6445.8ce6c8",
	"order": 4,
	"width": "5",
	"height": "3",
	"label": "Pressure",
	"chartType": "line",
	"legend": "false",
	"xformat": "HH:mm",
	"interpolate": "linear",
	"nodata": "",
	"dot": true,
	"ymin": "0",
	"ymax": "1100",
	"removeOlder": "2",
	"removeOlderPoints": "",
	"removeOlderUnit": "3600",
	"cutout": 0,
	"useOneColor": false,
	"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
	"useOldStyle": false,
	"x": 2100,
	"y": 500,
	"wires": [
		[],
		[]
	],
	"inputLabels": ["msg.payload"]
}, {
	"id": "8f907202.66b31",
	"type": "cloudant out",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"cloudant": "",
	"database": "sensors_data1",
	"service": "bikgtc-cloudantNoSQLDB",
	"payonly": false,
	"operation": "insert",
	"x": 1600,
	"y": 880,
	"wires": []
}, {
	"id": "5768b7d9.098158",
	"type": "cloudant in",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"cloudant": "",
	"database": "sensors_data1",
	"service": "bikgtc-cloudantNoSQLDB",
	"search": "_all_",
	"design": "",
	"index": "",
	"x": 2080,
	"y": 800,
	"wires": [
		["bafa9bed.b9a088"]
	]
}, {
	"id": "1b284788.86b418",
	"type": "function",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"func": "msg.topic=\"Sensors stored data\";\nmsg.to=msg.email\nmsg.filename=\"sensor Data.csv\";\nmsg.from=\"STM32 Iot Demo E14\"\nmsg.payload=new Buffer(msg.payload.replace(/\"/g,\"\"));\nreturn (msg);",
	"outputs": 1,
	"noerr": 0,
	"x": 1790,
	"y": 1020,
	"wires": [
		["1dfde050.0a3c3", "8afc241c.605a58"]
	]
}, {
	"id": "bafa9bed.b9a088",
	"type": "csv",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"sep": ",",
	"hdrin": "",
	"hdrout": "",
	"multi": "one",
	"ret": "\\n",
	"temp": "payload",
	"skip": "0",
	"x": 1810,
	"y": 900,
	"wires": [
		["1b284788.86b418"]
	]
}, {
	"id": "3df35739.05c3c8",
	"type": "ui_toast",
	"z": "27e8b13a.22fe1e",
	"position": "dialog",
	"displayTime": "3",
	"highlight": "",
	"outputs": 1,
	"ok": "OK",
	"cancel": "",
	"topic": "",
	"name": "Success",
	"x": 2090,
	"y": 1060,
	"wires": [
		[]
	]
}, {
	"id": "8afc241c.605a58",
	"type": "function",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"func": "msg.payload=\"Data sent to connected email.\";\nmsg.topic=\"Sucess !!\";\nreturn (msg);",
	"outputs": 1,
	"noerr": 0,
	"x": 1990,
	"y": 1000,
	"wires": [
		["3df35739.05c3c8"]
	]
}, {
	"id": "d81bd76.0faa228",
	"type": "function",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"func": "msg.topic=\"\";\nmsg.payload=\"Card event triggered.\";\nreturn (msg);",
	"outputs": 1,
	"noerr": 0,
	"x": 1290,
	"y": 940,
	"wires": [
		["880f883.f776078"]
	]
}, {
	"id": "23e40ad.02065f6",
	"type": "ui_gauge",
	"z": "27e8b13a.22fe1e",
	"name": "Temperature",
	"group": "96bf861d.1b7dd8",
	"order": 1,
	"width": "8",
	"height": "3",
	"gtype": "gage",
	"title": "Temperature",
	"label": "Deg. C",
	"format": "{{value}}",
	"min": 0,
	"max": "100",
	"colors": ["#00b500", "#e6e600", "#ca3838"],
	"seg1": "",
	"seg2": "",
	"x": 2510,
	"y": 280,
	"wires": [],
	"inputLabels": ["msg.payload"]
}, {
	"id": "61b2a98d.b35d58",
	"type": "ui_gauge",
	"z": "27e8b13a.22fe1e",
	"name": "Humidity",
	"group": "96bf861d.1b7dd8",
	"order": 1,
	"width": "8",
	"height": "3",
	"gtype": "gage",
	"title": "Humidity",
	"label": "%RH",
	"format": "{{value}}",
	"min": 0,
	"max": "100",
	"colors": ["#00b500", "#e6e600", "#ca3838"],
	"seg1": "",
	"seg2": "",
	"x": 2580,
	"y": 380,
	"wires": [],
	"inputLabels": ["msg.payload"]
}, {
	"id": "3a4dbdfe.b83b82",
	"type": "ui_gauge",
	"z": "27e8b13a.22fe1e",
	"name": "Pressure",
	"group": "96bf861d.1b7dd8",
	"order": 2,
	"width": "8",
	"height": "3",
	"gtype": "gage",
	"title": "Pressure",
	"label": "mbar",
	"format": "{{value}}",
	"min": 0,
	"max": "1500",
	"colors": ["#00b500", "#e6e600", "#ca3838"],
	"seg1": "",
	"seg2": "",
	"x": 2580,
	"y": 420,
	"wires": [],
	"inputLabels": ["msg.payload"]
}, {
	"id": "2a8922e3.c1ad9e",
	"type": "ui_chart",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"group": "96bf861d.1b7dd8",
	"order": 4,
	"width": "24",
	"height": "4",
	"label": "Temperature",
	"chartType": "line",
	"legend": "false",
	"xformat": "HH:mm",
	"interpolate": "linear",
	"nodata": "",
	"dot": true,
	"ymin": "0",
	"ymax": "100",
	"removeOlder": "2",
	"removeOlderPoints": "",
	"removeOlderUnit": "3600",
	"cutout": 0,
	"useOneColor": false,
	"colors": ["#1f77b4", "#aec7e8", "#bf7f46", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
	"useOldStyle": false,
	"x": 2590,
	"y": 460,
	"wires": [
		[],
		[]
	],
	"inputLabels": ["msg.payload"]
}, {
	"id": "9b5f7117.9c6d5",
	"type": "ui_chart",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"group": "96bf861d.1b7dd8",
	"order": 4,
	"width": "23",
	"height": "4",
	"label": "Pressure",
	"chartType": "line",
	"legend": "false",
	"xformat": "HH:mm",
	"interpolate": "linear",
	"nodata": "",
	"dot": true,
	"ymin": "0",
	"ymax": "1100",
	"removeOlder": "2",
	"removeOlderPoints": "",
	"removeOlderUnit": "3600",
	"cutout": 0,
	"useOneColor": false,
	"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
	"useOldStyle": false,
	"x": 2400,
	"y": 620,
	"wires": [
		[],
		[]
	],
	"inputLabels": ["msg.payload"]
}, {
	"id": "b3f466c2.91de08",
	"type": "ui_chart",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"group": "96bf861d.1b7dd8",
	"order": 4,
	"width": "24",
	"height": "4",
	"label": "Humidity",
	"chartType": "line",
	"legend": "false",
	"xformat": "HH:mm",
	"interpolate": "linear",
	"nodata": "",
	"dot": true,
	"ymin": "0",
	"ymax": "100",
	"removeOlder": "2",
	"removeOlderPoints": "",
	"removeOlderUnit": "3600",
	"cutout": 0,
	"useOneColor": false,
	"colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
	"useOldStyle": false,
	"x": 2400,
	"y": 540,
	"wires": [
		[],
		[]
	],
	"inputLabels": ["msg.payload"]
}, {
	"id": "324906a0.38b9da",
	"type": "ui_switch",
	"z": "27e8b13a.22fe1e",
	"name": "Load",
	"label": "Room Light",
	"tooltip": "",
	"group": "96bf861d.1b7dd8",
	"order": 3,
	"width": "24",
	"height": "1",
	"passthru": false,
	"decouple": "true",
	"topic": "",
	"style": "",
	"onvalue": "ON",
	"onvalueType": "str",
	"onicon": "",
	"oncolor": "",
	"offvalue": "OFF",
	"offvalueType": "str",
	"officon": "",
	"offcolor": "",
	"x": 1330,
	"y": 300,
	"wires": [
		["835b4dc9.fc3d"]
	],
	"inputLabels": ["msg.payload"]
}, {
	"id": "d6c9c83c.4534d8",
	"type": "ui_button",
	"z": "27e8b13a.22fe1e",
	"name": "",
	"group": "96bf861d.1b7dd8",
	"order": 8,
	"width": "24",
	"height": "1",
	"passthru": false,
	"label": "Send CSV Data",
	"tooltip": "",
	"color": "",
	"bgcolor": "",
	"icon": "",
	"payload": "true",
	"payloadType": "bool",
	"topic": "",
	"x": 1840,
	"y": 760,
	"wires": [
		["5768b7d9.098158"]
	]
}, {
	"id": "206e0fd3.94ea1",
	"type": "mqtt-broker",
	"z": "",
	"name": "Amazon AWS",
	"broker": "a32e6rcmmefpik-ats.iot.us-east-2.amazonaws.com",
	"port": "8883",
	"tls": "992cb0ab.004db",
	"clientid": "",
	"usetls": true,
	"compatmode": true,
	"keepalive": "60",
	"cleansession": true,
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": "",
	"closeTopic": "",
	"closeQos": "0",
	"closePayload": "",
	"willTopic": "",
	"willQos": "0",
	"willPayload": ""
}, {
	"id": "ec0e6445.8ce6c8",
	"type": "ui_group",
	"z": "",
	"name": "",
	"tab": "9f6f29d4.fc1fe8",
	"disp": true,
	"width": "6",
	"collapse": false
}, {
	"id": "96bf861d.1b7dd8",
	"type": "ui_group",
	"z": "",
	"name": "",
	"tab": "3eca4f28.bc4a4",
	"disp": true,
	"width": "24",
	"collapse": false
}, {
	"id": "992cb0ab.004db",
	"type": "tls-config",
	"z": "",
	"name": "",
	"cert": "",
	"key": "",
	"ca": "",
	"certname": "5a6b9e5b05-certificate.pem.crt",
	"keyname": "5a6b9e5b05-private.pem.key",
	"caname": "AmazonRootCA1.pem",
	"servername": "a32e6rcmmefpik-ats.iot.us-east-2.amazonaws.com",
	"verifyservercert": true
}, {
	"id": "9f6f29d4.fc1fe8",
	"type": "ui_tab",
	"z": "",
	"name": "STM32 IoT Dashboard",
	"icon": "dashboard",
	"disabled": false,
	"hidden": false
}, {
	"id": "3eca4f28.bc4a4",
	"type": "ui_tab",
	"z": "",
	"name": "STM32 IoT Dashboard",
	"icon": "dashboard",
	"disabled": false,
	"hidden": false
}]
